[submodule "external/esp8266-cmake"]
	path = external/esp8266-cmake
	url = https://github.com/rpoisel/esp8266-cmake.git
[submodule "external/esp8266-oled-ssd1306"]
	path = external/esp8266-oled-ssd1306
	url = https://github.com/squix78/esp8266-oled-ssd1306
